/*CSS FAQS*/

p{
  text-align: center;
  padding: 10px;
}
.question-container{
  margin-top: 21%;
  overflow: hidden;
  margin-bottom: 3%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
.button{
  background-color: #fff;
  color: #80AA29;
  border: 3px solid #80AA29;
  max-width: 40%;
  float: left;
  margin: 5px 1%;
}
.button:hover{
    color: white;
    border: 3px solid white;
    background-color: #80AA29;
}
.answer-container{
  margin-top: 2%;
}
.head_question{
  text-align: center;
}
.answer{
  border-bottom: 2px solid #354F04;
  max-width: 100%;
  margin-top: 2%;
}
.answer:last-child{
  margin-bottom: 5%;

}
.back-button{
  border: 1px solid green;
  position: absolute;
  max-width: 30%;
  margin-bottom:
}
.back-button::after{

}
