.pantalla-landing{
  color: #FFF;
  background-image: url(../images/bg-image-landing.jpg);
  background-position: center;
  background-size: cover;

  height: 100vh;
  min-height: 250px;

  display: flex;
  flex-flow: column;
  justify-content: center;
}

.nav-home-container{
    margin-top: 12%;
}
.nav-home-container a{
    background-color: #313E2C99;
    border: 1px solid #F9FBF2aa;
}
.nav-home-container a:hover{
    border: 2px solid #fff;
}
.pantalla-landing-titulo{
  text-align: center;
  font-size: 1em;
  background-color: #313E2C22;
}
.chevron{
  position: absolute;
  bottom: 0;
  width: 100%;

  text-align: center;
  font-size: 2em;
}

.headerNavContainer{
    position: sticky;
}
.propuesta-valor{
    width: 96vw;
    margin: auto;
    display: flex;
    justify-content: center;
}

.propuesta-valor-section{
    color: #70834C;
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
    margin: 10vh 0;
}
.propuesta-valor-section span{
    font-size: 5em;
    width: 104px;
    background-color: #70834C;
    color: #F9FBF2;

    text-align: center;

    /*border: 3px solid #70834C;*/
    border-radius: 50%
}
.propuesta-valor-section h2{
    font-size: 1.2em;
    margin: 10px 0;
}
.propuesta-valor-section div{
    width: 90%;
    color: #313E2C;
}
.propuesta-valor-section strong{
    font-weight: normal;
}
.propuesta-valor-section p{
    display: none;
}
