/* Pantalla landing */
.pantalla-landing{
  color: #000;

  height: 100vh;
  min-height: 250px;

  display: flex;
  flex-flow: column;
  justify-content: center;
}
.pantalla-landing-bgi{
    background-image: url(../images/bg-image-landing-mobile.jpg);
    background-position: center;
    background-size: cover;

    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%;
}
.pantalla-landing-bgi-skin{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-flow: column;
    justify-content: space-around;
}
.pantalla-landing-titulo{
  text-align: center;
  font-size: 2em;
  color: #fff;
}
.pantalla-landing-content{
    z-index: 1;
}
.nav-home-container a{
    border: none;
    color: #fff;
    border: 2px solid transparent;
}
.nav-home-container a:hover{
    border: 2px solid #fff;
}

.chevron{
    display: flex;
    justify-content: center;
}
.chevron span{
    font-size: 1.5em;
    color: #fff;
}
.pantalla-landing-texto-container{
    display: none;
}

/* Barra de navegación desplegable */
.headerNavContainer{
    position: sticky;
    position: -webkit-sticky;
}

/* content */
.content{
    width: 96vw;
    margin: auto;
}

/* Propuesta de valor*/
.propuesta-valor{
    width: 96vw;
    margin: auto;
    display: flex;
    justify-content: center;
}
.propuesta-valor-section{
    color: #80AA29;
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
    margin: 10vh 0;
}
.propuesta-valor-section span{
    font-size: 5em;
    width: 104px;
    background-color: #80AA29;
    color: #fff;

    text-align: center;

    border-radius: 50%
}
.propuesta-valor-section h2{
    font-size: 1.2em;
    margin: 10px 0;
}
.propuesta-valor-section div{
    width: 90%;
    color: #354F04;
}
.propuesta-valor-section strong{
    font-weight: normal;
}
.propuesta-valor-section p{
    display: none;
}

/* Crea tu cuenta */
.crea-tu-cuenta{
    background-color: rgba(189, 208, 152, 0.33);
}
.crea-tu-cuenta-content{
    width: 90%;
    margin: auto;
    padding: 30px 0;
    padding-bottom: 40px;
    font-size: 1.2em;
}
.crea-tu-cuenta h2{
    margin-bottom: 20px;
    font-weight: normal;
}
.crea-tu-cuenta ul{
    list-style-type: disc;
    padding-left: 25px;
    margin-bottom: 20px;
}


/* F.A.Q.s */
.faqs-container{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.faqs-p{
    font-size: 2em;
    padding: 40px;
    margin-top: 40px;
}
.faqs-a{
    font-size: 2em;
    line-height: 50px;
    color: #80AA29;
    border: 3px solid #80AA29;
    border-radius: 27.8px;
    padding: 0 15%;
    margin-bottom: 80px;
}
.faqs-a:hover{
    color: white;
    border: 3px solid white;
    background-color: #80AA29;
}

/* Media query para tablet */
@media (min-width: 480px) {
    .pantalla-landing-bgi{
        background-image: url(../images/bg-image-landing-desktop.jpg);
        height: 95vh;
        /*top: 44px;*/
    }
    .pantalla-landing-bgi-skin{
        display: flex;
        justify-content: center;
        align-content: center;
        flex-flow: wrap;
    }
    .pantalla-landing-titulo{
        font-size: 2.5em;
        width: 500px;
        display: inline;
    }

    .pantalla-landing-texto-container{
        position: absolute;
        bottom: 1px;
        display: block;
        width: 100%;
    }
    .pantalla-landing-texto{
        font-size: 1.2em;
        line-height: 15vh;
        padding-left: 10px;
        border-bottom: 1px solid #80AA29;
        background-color: #fff;
    }
    .pantalla-landing-texto strong{
        color: #80AA29;
    }
    .pantalla-landing-texto p{
        display: none;
    }
    .nav-home-container{
        display: none;
    }
    .chevron{
        display: none;
    }
    .headerNavContainer{
        position: fixed;
        z-index: 2;
    }

    /* Propuesta de valor */
    .propuesta-valor-article{
        width: 100%;
        display: flex;
        flex-flow: row;
        justify-content: space-around;
    }
    .propuesta-valor-section h2{
        height: 48px;
    }

    /* Crea tu cuenta */
    .crea-tu-cuenta-img{
        background-image: url(../images/home-propuesta-valor.jpg);
        background-position: center;
        background-size: cover;
        height: 400px;
    }
    .crea-tu-cuenta{
        background: -moz-linear-gradient(left, rgba(255, 255, 255, 1), rgba(0, 0, 0, 0.3));
        background: -webkit-linear-gradient(left, rgba(255, 255, 255, 1), rgba(0, 0, 0, 0.3));
        height: 100%;
    }
    .crea-tu-cuenta-content{
        padding: 40px 0;
    }
    .crea-tu-cuenta-content article{
        width: 385px;
    }
}
@media (min-width: 640px) {
    .pantalla-landing-texto p{
        display: inline;
    }
    .crea-tu-cuenta-content article{
        width: 60%;
    }
}
