*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}
body{
  font-family: 'Cabin Condensed', sans-serif;
  min-height: 100vh;
}
a{
  color: inherit;
  text-decoration: none;
}
ul{
  list-style-type: none;
}
header.menu{
  position: fixed;
  top: 0;
  width: inherit;
  background-color: #fff;

  height: 10vh;
  min-height: 48px;
  line-height: 10vh;

  border-bottom: solid 1px #388E3C;
}
h1{
  display: inline;
}
span.menu{
  float: right;

  font-size: 1.6em;
  padding: 0 10px;
}
.nav{
    display: none;
    top: 10vh;
    width: 100%;

    text-align: center;
    background-color: #fff;
}
.nav-ul{
    width: 100%;
    display: flex;
    flex-flow: column;

    height: 90vh;
}
.nav-li{
    flex-grow: 1;
}
#menu{
    display: none;
}
#menu.nav-open{
    display: block;

    position: relative;
    left: 50%;
    transform: translateX(-50%);

    padding-top: 4vh;
    background-color: white;
}
.icon:hover{
    cursor: pointer;
}
.botonera{
    margin: auto;
    min-width: 100px;
    width: 70%;
}
.botonera a{
    display: block;
    padding: 5px 0;
    margin-bottom: 3vh;

    text-align: center;
    font-size: 1.1em;

    border: 1px solid #fff;
    border-radius: 4px;

}
.botonera a:hover{
    background-color: transparent;

    border: 2px solid #fff;
    color: #fff;
    background-color: #5a5d6888;
}

footer{
  min-height: 30px;
  background-color: #388E3C;
  color: #fff;
  width: 100%;
  border-radius: 5px 5px 0 0;
}
footer ul{
  display: flex;
}
footer li{
  display: flex;
  flex-grow: 0.6;
  text-align: center;
}
footer a{
  flex-grow: 1;
  height: 10vh;
  line-height: 10vh;
  width: 100%;
}
