*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}
body{
  font-family: 'Cabin Condensed', sans-serif;
  min-height: 100vh;
}
a{
  color: inherit;
  text-decoration: none;
}
ul{
  list-style-type: none;
}
.button{
    background-color: #80AA29;
    border-radius: 5px;
    padding: 10px;
    color: #fff;
}
.button:hover{
    cursor: pointer;
}

.headerNavContainer{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
}
header.menu{

  width: 96vw;
  margin: auto;

  height: 10vh;
  min-height: 48px;
  line-height: 10vh;

  border-bottom: solid 1px #80AA29;
}
h1{
  display: inline;
  color: #354F04;
  position: relative;
  z-index: 1;
}
span.menu{
  float: right;

  font-size: 1.6em;
  padding: 0 10px;

  color: #354F04;
}
.nav{
    display: none;
}
.nav-ul{
    width: 100%;
    display: flex;
    flex-flow: column;

    height: 90vh;
}
.nav-li{
    flex-grow: 1;
}
#menu{
    display: none;
}
#menu.nav-open{

    display: block;
    padding: 4vh 0;
    background-color: #fff;
    background-size: cover;
    border-radius: 2px;
    color: #354F04;
}
.icon:hover{
    cursor: pointer;
}
.botonera{
    margin: auto;
    min-width: 100px;
    width: 70%;
}
.botonera a{
    display: block;
    padding: 5px 0;
    margin-bottom: 3vh;

    text-align: center;
    font-size: 1.3em;

    border: 1px solid #354F04;
    border-radius: 4px;

}
.botonera a:hover{
    border: 2px solid #354F04;
}

footer{
  min-height: 30px;
  background-color: #223A01;
  color: #fff;
  width: 96vw;
  border-radius: 5px 5px 0 0;
  margin: auto;
}
footer ul{
  display: flex;
}
footer li{
  display: flex;
  flex-grow: 0.6;
  text-align: center;
}
footer a{
  flex-grow: 1;
  height: 10vh;
  line-height: 10vh;
  width: 100%;
}

/* Responsive */

@media (min-width: 480px) {
    span.menu{
        display: none;
    }

    #menu{
        display: block;
    }
    .botonera{
        width: 95%;
        position: absolute;
        top: 0;
        display: inline-flex;
        justify-content: flex-end;
    }
    .botonera a:hover{
        border: none;
        text-decoration: underline;
    }
    .botonera a{
        border: 0px white solid;
        padding: 0px 1.5vw;
        font-size: 1.2em;
    }
