.main{
    margin-top: 51px;
    padding-top: 19px;
}
.btn-primary{
    background-color: #80AA29;
    border: none;
}
.btn-primary:hover{
    background-color: #174F04;
}
.home-img{
    background-image: url('http://localhost:8000/img/5.jpg');
    border-radius: 6px;
}
.value-proposal{
    color: #80AA29;
    text-align: center;
}
.value-proposal span{
    font-size: 5em;
    color: #fff;
}
.md-circle{
    margin: auto;
    background-color: #80AA29;
    border-radius: 50%;
    width: 90px;
    height: 90px;

}
.value-proposal h2{
    font-size: 1.2em;
}
.value-proposal div{
    color: #354F04;
}
.value-proposal strong{
    font-weight: normal;
}
.value-proposal p{
    /*display: none;*/
}
.create-account{
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 1), rgba(0, 0, 0, 0.3));
   background: -webkit-linear-gradient(left, rgba(255, 255, 255, 1), rgba(0, 0, 0, 0.3));
   height: 100%;
}
.create-account-content{
    width: 90%;
    margin: auto;
    padding: 40px 0;
    padding-bottom: 40px;
    font-size: 1.2em;
}
.create-account-img {
    background-image: url('http://localhost:8000/img/train-station.jpg');
    background-size: cover;
    height: 400px;
    background-position: center center;
}
.create-account h2{
    margin-bottom: 20px;
    font-weight: normal;
}
.create-account ul{
    list-style-type: disc;
    padding-left: 25px;
    margin-bottom: 20px;
}
.jumbotron{
    background-color: rgba(0,0,0,0.2);
    color: #fff;
}
#pd-builder-form{
    display: flex;
    flex-flow: column;
    align-items: center;
    padding-top: 10px;
}
.flex-center{
    display: flex;
    justify-content: center;
}
.img-sm{
    height: 40px;
    width: 40px;
}
.img-xs{
    height: 25px;
    width: 25px;
}

#spinner{
    font-size: 14px;
}
.carousel
{
    max-width: 1200px;
    max-height: 600px;
    margin: auto;
}
.dashboard{
    background-color: #fff;
}
.nav-sidebar{
    background-color: #fafafa;
}
.sidebar{
    height: 100%;
}
.nav-sidebar:first-child{
    margin-top: 20px;
}
.panel-body .row{
    height: 30px;
}
.row.heading{
    padding-top: 10px;
    padding-bottom: 10px;
}
.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: grey;         /* adjust as needed */
}
.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}
.transaction-details{
    font-size: 0.9em;
}
footer{
  min-height: 100px;
  background-color: #80AA29;
  width: 100%;

  margin: auto;
}
footer ul{
  display: flex;
}
footer li{
  display: flex;
  justify-content: center;

  flex-grow: 0.6;
  text-align: center;
}
footer a{
  flex-grow: 1;
  width: 100%;
  height: 100px;
  line-height: 100px;
  color: #fff;

  font-size: 2.5em;

}
