.main{
    margin-top: 51px;
    padding: 19px;
}
#pd-builder-form{
    display: flex;
    flex-flow: column;
    align-items: center;
    padding-top: 10px;
}
.flex-center{
    display: flex;
    justify-content: center;
}
.img-sm{
    height: 40px;
    width: 40px;
}

#spinner{
    font-size: 14px;
}
.carousel
{
    max-width: 1200px;
    max-height: 600px;
    margin: auto;
}
.dashboard{
    background-color: #FAFAFA;
}
.dashboard div{
    background-color: #FFF;
}
.dashboard .row{
    height: 50px;
}
.row.heading{
    padding-top: 10px;
}
.transaction-details{
    font-size: 0.8em;
}
footer{
    background-color:s #F8F8F8;
}
footer span{
    font-size: 1.5em;
    padding: 30px;
}
