body{
    font-family: 'Cabin Condensed', sans-serif;
    min-height: 100vh;
    position: relative;
    padding-bottom: 150px;
}
a{
    color: inherit;
}
.has-error a, .has-success a{
    color:#337ab7;
}
a:hover, a:focus{
    text-decoration: none;
    color: #80AA29;
}
.has-error a:hover, .has-error a:focus, .has-success a:hover, .has-success a:focus{
    text-decoration: none;
    color: #115895;
}
hr{
    margin-top: 100px;
    margin-bottom: 100px;
    border-top: 1px solid #80AA29;
}
.fs-7{
    font-size: 0.7em;
    max-width: 300px;
    border: 1px solid #DDDDDD;
}
.max-width-400{
}
.navbar-default {
    background-color: #fff;
    border-color: #80AA29;
    color: rgb(53, 79, 4);
}
.navbar-default .navbar-brand{
    color: rgb(53, 79, 4);
    font-weight: bold;
    font-size: 1.5em;
}
.navbar-default .navbar-nav>li>a {
     color: rgb(53, 79, 4);
}
.navbar-default a:focus, .navbar-default a:hover {
    color: #80AA29 !important;
}
.main{
    margin-top: 51px;
    padding-top: 19px;
}
.btn-primary{
    background-color: #80AA29;
    border: none;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary:active:focus{
    background-color: #174F04;
}
.jumbotron{
    background-color: rgba(0,0,0,0.2);
    color: #fff;
}
.home-img{
    background-image: url('http://localhost:8000/img/5.jpg');
    border-radius: 6px;
}
.value-proposal{
    color: #80AA29;
    text-align: center;
}
.value-proposal span{
    font-size: 5em;
    color: #fff;
}
.md-circle{
    margin: auto;
    background-color: #80AA29;
    border-radius: 50%;
    width: 90px;
    height: 90px;
}
.value-proposal h2{
    font-size: 1.2em;
}
.value-proposal div{
    color: #354F04;
}
.value-proposal strong{
    font-weight: normal;
}
.value-proposal p{
    /*display: none;*/
}
.create-account{
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 1), rgba(0, 0, 0, 0.3));
   background: -webkit-linear-gradient(left, rgba(255, 255, 255, 1), rgba(0, 0, 0, 0.3));
   height: 100%;
}
.create-account-content{
    width: 90%;
    margin: auto;
    padding: 40px 0;
    padding-bottom: 40px;
    font-size: 1.2em;
}
.create-account-img {
    background-size: cover;
    height: 400px;
    background-position: center center;
    margin-top: 70px;
}
.create-account h2{
    margin-bottom: 20px;
    font-weight: normal;
}
.create-account ul{
    list-style-type: disc;
    padding-left: 25px;
    margin-bottom: 20px;
}
#pd-builder-form{
    display: flex;
    flex-flow: column;
    align-items: center;
    padding-top: 10px;
}
.flex-center{
    display: flex;
    justify-content: center;
}
.img-sm{
    height: 40px;
    width: 40px;
}
.img-xs{
    height: 25px;
    width: 25px;
}

#spinner{
    font-size: 14px;
}
.carousel
{
    max-width: 1200px;
    max-height: 600px;
    margin: auto;
}
.dashboard{
    background-color: #fff;
}
.nav-sidebar{
    background-color: #fafafa;
}
.sidebar{
    height: 100%;
}
.nav-sidebar:first-child{
    margin-top: 20px;
}
.panel-body .row{
    height: 30px;
}
.row.heading{
    padding-top: 10px;
    padding-bottom: 10px;
}
.panel-heading .accordion-toggle:after {
    font-family: 'Glyphicons Halflings';
    content: "\e114";
    float: right;
    color: grey;
}
.panel-heading .accordion-toggle.collapsed:after {
    content: "\e080";
}
.transaction-details{
    font-size: 0.9em;
}
.faqs-container{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.faqs-p{
    font-size: 2em;
    padding: 40px;
}
.faqs-a{
    font-size: 2em;
    line-height: 50px;
    color: #80AA29;
    border: 3px solid #80AA29;
    border-radius: 27.8px;
    padding: 0 15%;
    margin-bottom: 80px;
}
.faqs-a:hover{
    color: white;
    border: 3px solid white;
    background-color: #80AA29;
}
footer{
  height: 110px;
  background-color: #80AA29;
  width: 100%;
  position: absolute;
  bottom: 0;
}
footer ul{
  display: flex;
}
footer li{
  display: flex;
  justify-content: center;

  flex-grow: 0.6;
  text-align: center;
}
footer a{
  flex-grow: 1;
  width: 100%;
  height: 100px;
  line-height: 100px;
  color: #fff;

  font-size: 2.5em;
}
@media (min-width: 480px) {
    .create-account-img{
        background-image: url('http://localhost:8000/img/train-station.jpg');
        background-position: center;
        background-size: cover;
        height: 400px;
    }
    .create-account{
        background: -moz-linear-gradient(left, rgba(255, 255, 255, 1), rgba(0, 0, 0, 0.3));
        background: -webkit-linear-gradient(left, rgba(255, 255, 255, 1), rgba(0, 0, 0, 0.3));
        height: 100%;
    }
    .create-account-content{
        padding: 40px 0;
    }
}
