/*CSS FAQS*/

header{
  position: fixed;
  top: 0;
  width: inherit;
  background-color: #fff;

  height: 10vh;
  min-height: 48px;
  line-height: 10vh;

  border-bottom: solid 1px #388E3C;
}
h1{
  display: inline;
}
span{
  float: right;

  font-size: 1.6em;
  padding: 0 10px;
}
p{
  text-align: center;
  padding: 10px;
}
.question-container{
  margin-top: 21%;
  overflow: hidden;
  margin-bottom: 3%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
.question-button{
  border: 2px solid green;
  max-width: 40%;
  float: left;
  margin-left: 1%;
  margin-top: 3%;
}
.question-button:hover{
  background-color: forestgreen;
  color: white;
}
.answer-container{
  margin-top: 2%;
}
.head_question{
  text-align: center;
}
.answer{
  border-bottom: 2px solid green;
  max-width: 100%;
  margin-top: 2%;
}
.answer:last-child{
  margin-bottom: 5%;

}
.back-button{
  border: 1px solid green;
  position: absolute;
  max-width: 30%;
  margin-bottom:
}
.back-button::after{
  
}
